:root {
    --main-bg-color: #f6f6f7;
    --text-hover-color: #c1d160;
    --text-gray-color: #717171;
    --text-light-color: #8c8c8c;
    --text-discr-color: #B7B5B5;
    --border-color: #e8e8e8;
    --content-main-color: white;
    --menu-elem-color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--content-main-color);
    border: 1px solid var(--border-color);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border: 1px solid var(--border-color);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #888888;
    border: 1px solid var(--border-color);
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    width: 100%;
    background-color: var(--content-main-color);
    border-bottom: 1px solid rgba(214, 213, 212, 0.64);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
}

header > .header-content {
    width: 80%;
    height: 60%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-content > .header-logo {
    width: calc(100% / 4);
    justify-content: center;
}

.header-content > .menu-bar {
    display: flex;
    width: calc(100% / 7);
    justify-content: center;
    align-items: center;
}

.header-content > .menu-bar > .menu-btn {
    width: 48px;
    height: 34px;
    background-color: var(--main-bg-color);
    border-radius: 3px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-content > .menu-bar > .menu-btn > span::before, .header-content > .menu-bar > .menu-btn > span::after, .header-content > .menu-bar > .menu-btn > span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #bbbbbc;
    border-radius: 10px;
    content: '';
}

.header-content > .menu-bar > .menu-btn > span::before {
    top: -8px;
}

.header-content > .menu-bar > .menu-btn > span::after {
    bottom: -8px;
}

.menu-bar > .nav-content {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    top: 0;
    background-color: rgba(240, 239, 238, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition-property: height, visibility;
    transition-duration: 0.5s, 0s;
    transition-delay: 0s, 0.3s;
}

.menu-bar > .nav-content.active {
    transition-duration: 0.5s, 0s;
    transition-delay: 0s, 0s;
    visibility: visible;
    z-index: 3;
    height: 100px;
} 

.menu-bar > .nav-content > .nav-list {
    height: 100%;
    width: 55%;
    max-width: 800px;
    display: flex;
    align-items: center;
}

.menu-bar > .nav-content > .btn-close {
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: var(--menu-elem-color);
    border-radius: 50%;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-bar > .nav-content > .btn-close:hover {
    background-color: #e46f60;
}

.menu-bar > .nav-content > .btn-close > span, .menu-bar > .nav-content > .btn-close > span::before {
    width: 25px;
    position: absolute;
    height: 5px;
    background-color: var(--content-main-color);
    content: '';
}

.menu-bar > .nav-content > .btn-close > span {
    transform: rotate(45deg);
}

.menu-bar > .nav-content > .btn-close > span::before {
    transform: rotate(90deg);
}

.menu-bar > .nav-content >.nav-list > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
}

.menu-bar > .nav-content >.nav-list > ul > li > a {
    text-decoration: none;
    color: var(--menu-elem-color);
    text-transform: uppercase;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-bar > .nav-content >.nav-list > ul > li > a:hover {
    color: var(--text-hover-color);
}

.header-content > .search-bar {
    height: 100%;
    width: calc(100% / 2);
    justify-content: center;
}

.header-content > .search-bar > .search-form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-content > .search-bar > .search-form > .search-input {
    height: 35px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
    border-radius: 3px;
    border: 1px solid var(--border-color);
    padding-left: 5px;
}

.header-content > .search-bar > .search-form > .search-button {
    height: 35px;
    margin: 0;
    z-index: 2;
    position: absolute;
    background-color: var(--main-bg-color);
    border-right: 1px solid var(--border-color);;
    box-shadow: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.header-content > .search-bar > .search-form > .search-button:focus {
    outline: none;
}

.header-content > .search-bar > .search-form > .search-input:focus {
    outline: none;
}

.header-content > .user-info {
    height: 100%;
    width: calc(100% / 4);
    justify-content: center;
    display: flex;
    align-items: center;
}

.header-content > .user-info > img {
    height: 43px;
    width: 43px;
    border-radius: 50%;
}

.header-content > .user-info > .user-name {
    padding-left: 10px;
    font-size: 1em;
    font-weight: 540;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-light-color);
    cursor: pointer;
}

.header-content > .user-info > .user-name:hover {
    color: var(--text-hover-color);
}

main {
    width: 100%;
    padding-top: 100px;
}

main > .wrap {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

/* list */

main > .wrap > .content-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.content-block > .content-item {
    background-color: var(--content-main-color);
    width: calc(25% - 26px);
    display: block;
    margin: 12px;
    text-decoration: none;
    border: 1px solid var(--border-color);
}

.content-block > .content-item:hover > .content-info > .content-title {
    color: var(--text-hover-color);
}

.content-block > .content-item > .content-image > img {
    width: 100%;
}

.content-block > .content-item > .content-info {
    padding: 20px;
}

.content-block > .content-item > .content-info > .content-title {
    color: var(--text-gray-color);
    font-size: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.content-block > .content-item > .content-info > .content-type {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 10px 0;
    color: var(--text-gray-color);
    width: 100%;
    border-bottom: 1px solid rgba(183, 181, 181, 0.36);
    padding-bottom: 5px;
}

.content-block > .content-item > .content-info > .content-type > .type-discription {
    margin-left: 5px;
    word-wrap: break-word;
    width: calc(100% - 22px);
}

.content-block > .content-item > .content-info > .content-text {
    color: var(--text-discr-color);
    max-width: 295px;
    font-size: 0.875em;
    word-wrap: break-word;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
    margin: 0 0 10px 0;
}

.content-block > .content-item > .content-info > .content-tags {
    color: var(--text-gray-color);
    width: 100%;
    word-wrap: break-word;
}

.pagination-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-content > .pagination-list > .pre-pagination-item,
.pagination-content > .pagination-list > .post-pagination-item {
    border: 1px solid var(--border-color);
    margin: 4px;
    padding: 10px;
    cursor: pointer;
}

.pagination-content > .pagination-list > .pre-pagination-item:hover > a,
.pagination-content > .pagination-list > .post-pagination-item:hover > a {
    color: var(--text-hover-color);
}

.pagination-content a {
    text-decoration: none;
    color: var(--text-gray-color);
}

.pagination-content > .pagination-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.pagination-content > .pagination-list > .pagination-item {
    padding: 10px;
    margin: 4px;
    text-align: center;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.pagination-content > .pagination-list > .pagination-item.active a {
    color: var(--text-hover-color);
}

.pagination-content > .pagination-list > .pagination-item:hover a {
    color: var(--text-hover-color);
}

/* ditail */

.post {
    display: flex;
    margin-top: 12px;
    width: 100%;
    background-color: var(--content-main-color);
    border: 1px solid var(--border-color);
}     

.post > .image-preview {
    width: 25%;
}

.post > .image-preview > img {
    width: 100%;
}

.post > .post-content {
    display: flex;
    flex-direction: column;
    width: calc(75% - 56px);
    padding: 17px 28px 0 28px;
}

.post > .post-content > .post-info {
    width: 100%;
    max-height: 230px;
    min-height: 230px;
}

.post > .post-content > .post-info > .post-title {
    color: var(--text-gray-color);
    font-size: 20px;
    margin-bottom: 10px;
    word-break: break-all;
    max-width: 100%;
}

.post > .post-content > .post-info > .post-discription {
    color: var(--text-discr-color);
    max-width: 100%;
    font-size: 1em;
    word-break: break-all;
}

.post > .post-content > .button-bar {
    align-self: flex-end;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-wrap: wrap;
}

.post-content > .button-bar > .view-link {
    background-color: var(--main-bg-color);
    border-radius: 3px; 
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light-color);
    height: 45px;
    width: 105px; 
    border: 1px solid var(--border-color);
}

.comment-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: var(--content-main-color);
    border: 1px solid var(--border-color);
}

.comment-post > .comment-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 20px auto;
}

.comment-post > .comment-form > .content-form {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    justify-content: space-between;

}

.comment-form > .comment-title {
    color: var(--text-gray-color);
}

.comment-post > .comment-form > .content-form > textarea {
    outline: none;
    width: 85%;
    resize: none;
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 10px;
    height: 100px;
    margin-bottom: 10px;
}

.comment-post > .comment-form > .content-form > button {
    outline: none;
    background-color: var(--main-bg-color);
    color: var(--text-light-color);
    border-radius: 3px;
    height: 45px;
    width: 105px;
    border: 1px solid var(--border-color);
    font-size: 16px;
    margin-bottom: 10px;
}

.comment-list {
    width: 95%;
    margin: 20px auto;
}

.comment-item {
    margin-bottom: 20px;
}

.comment-avatar {
    height: 43px;
    width: 43px;
    border-radius: 50%;
}

.item-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-name {
    color: var(--text-light-color);
    padding-left: 10px;
}

.comment-text {
    color: var(--text-gray-color);
    word-wrap: break-word;
    word-break: break-all;
}

.gallery-block {
    background-color: var(--content-main-color);
    border: 1px solid var(--border-color);
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: calc((100% / 6) - 12px); 
    margin: 6px;
    position: relative;
}

.gallery-item > .gallery-image {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.gallery-item:hover::after {
    content: attr(data-title); /* Выводим текст */
    text-decoration: none;
    text-align: center;
    color: var(--text-light-color);
    font-size: 15px;
    position: absolute; 
    width: 70%;
    height: 10%;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: calc(-70% / 2);
    margin-top: calc(-5% / 2);
    border-radius: 10px;
    background-color: rgba(240, 239, 238, 0.74);   
    border: 1px solid var(--border-color);
}

.item-content {
    display: block;
    position: relative;
    margin: 12px auto;
    width: 90%;
    height: 100%;
    max-height: 1200px;
    z-index: 1;
}

.item-content img {
    width: 100%;
    height: 100%;
    max-height: 1200px;
}

.link-item {
    position: absolute;
    height: 100%;
    width: 50%;
}

.link-item.pre {
    left: 0;
}

.link-item.next {
    right: 0;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    header > .header-content {
        width: 90%;
    } 

    .content-block > .content-item > .content-info > .content-title {
        color: var(--text-gray-color);
        font-size: 13px;
    }
    
    .content-block > .content-item > .content-info > .content-text {
        font-size: 0.600em;

    }

    .content-block > .content-item > .content-info > .content-type > .type-discription {
        font-size: 13px;
    }

    .content-block > .content-item > .content-info > .content-tags {
        font-size: 13px;
    }

    .comment-post > .comment-form > .content-form {
        flex-direction: column;
    }

    .comment-post > .comment-form > .content-form > textarea {
        width: calc(100% - 20px);
    }

    .gallery-item {
        width: calc((100% / 3) - 12px); 
        margin: 6px;
    }
}

@media only screen and (max-width: 767px) {
    header {
        height: 120px;
    }

    header > .header-content {
        flex-wrap: wrap;
        height: 100%;
    }

    header > .header-content > .header-logo {
        flex-grow: 1;
        width: initial;
        justify-content: flex-start;
    }

    header > .header-content > .menu-bar {
        flex-grow: 1;
        width: initial;
        justify-content: flex-end;
    }

    .menu-bar > .nav-content.active {
        height: 200px;
    }

    .menu-bar > .nav-content > .btn-close {
        top: 30px;
    }

    .menu-bar > .nav-content > .nav-list > ul {
        flex-direction: column;
    }

    .menu-bar > .nav-content > .nav-list > ul > li {
        text-align: center;
        margin-bottom: 5px;
    }

    header > .header-content > .search-bar {
        flex-grow: 2;
        width: initial;
        height: initial;
    }

    header > .header-content > .user-info {
        display: none;
    }

    .content-block > .content-item {
        width: 100%;
    }

    .post {
        flex-direction: column;
    }

    .post > .image-preview {
        width: 100%;
    }

    .post > .post-content {
        width: calc(100% - 56px);
    }

    .comment-post > .comment-form > .content-form {
        flex-direction: column;
    }

    .comment-post > .comment-form > .content-form > textarea {
        width: calc(100% - 20px);
    }

    .comment-post > .comment-form > .content-form > button {
        width: 100%;
    }

    .gallery-item {
        width: 100%; 
        margin: 6px;
    }
}